<div *ngIf="this.dog.razas.length == 0" class="row mt-5">
    <div class="col text-center">

        <i class="fas fa-sync fa-spin fa-9x"></i>

    </div>
</div>


<div *ngIf="this.dog.razas.length > 0" class="row">
    <div *ngFor="let raza of this.dog.razas; let i=index" class="col-sm-4 mb-2 text-center">

        <div class="card" style="width: 18rem;">
            <img src="{{ raza.imagen }}" class="card-img-top">
            <div class="card-body">
                <div>
                    <i [ngClass]="{'fas': raza.megusta, 'far': !raza.megusta}" class="fa-heart" style="cursor: pointer;" (click)="meGusta(i)"></i>
                </div>
                <h5 class="card-title">{{ raza.nombre }}</h5>
                <a href="#" class="btn" style="background-color: purple; color: white;">
                    <i class="fas fa-paw"></i> Vamos!
                </a>
            </div>
        </div>

    </div>
</div>