<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: plum; color: white;">
    <a class="navbar-brand" routerLink="/home">
        <i class="fas fa-paw fa-2x"></i>
        <strong>randomDOG</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/razas" routerLinkActive="active">
                    <i class="fas fa-paw"></i> Razas
                </a>
            </li>

        </ul>
    </div>
</nav>